#### IMPORTAMOS LIBRERIAS NECESARIAS

In [6]:

import pandas as pd
import numpy as np
import openpyxl 
import fastparquet
import sqlalchemy

#### PROCEDEMOS A INGESTAR LOS ARCHIVOS

In [7]:
#importacion manual de los archivos, configurando el encoding para que la lectura de las tablas sea la correcta para su transformacion y uso.
#para conocer el nombre de las distintas paginas dentro del excel y cargarlas manualmente hice uso de la funcion sheet_names, de esa manera
#si en el futuro se cargan mas hojas de forma sencilla podemos reconocerlas y ampliar nuestra base de datos.


productos = pd.read_parquet("Datasets relevamiento precios\producto.parquet",engine="auto") 
sucursales =pd.read_csv("Datasets relevamiento precios\sucursal.csv") 


file = pd.ExcelFile("Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx")
file.sheet_names 

precios_1 = pd.read_csv("Datasets relevamiento precios\precios_semana_20200413.csv",encoding="utf-16")
precios_2 = pd.read_json("Datasets relevamiento precios\precios_semana_20200503.json")
precios_3 = pd.read_csv("Datasets relevamiento precios\precios_semana_20200518.txt",sep="|")
precios_4 = pd.read_excel("Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx",sheet_name="precios_20200426_20200426")
precios_5 = pd.read_excel("Datasets relevamiento precios\precios_semanas_20200419_20200426.xlsx",sheet_name="precios_20200419_20200419")

#### CREACION DE FUNCIONES PARA LA NORMALIZACION SOBRE LAS TABLAS DE PRECIOS

In [9]:
#Teniendo en cuenta los errores comunes que encontre analizando las distintas tablas de las sucursales, las que principalmente importaban y necesitaban
#de una automatizacion a la hora de ser normalzidas y limpiadas eran las tablas de los precios ingestados.

#Para eso decidi establecer un tipo de dato string para las columnas "producto_id" y "sucursal_id" de modo que pudiese corregir tanto los datos de tipeo,
#como tambien la forma en la que la libreria de pandas importa ciertos valores como "date time" o con notacion cientifica.

#Los datos nulos o vacios dentro de las columnas "producto_id" y "sucursal_id" los cambie por "sin registro" ya  que me servirian para hacer consultas y filtros de manera mas sencilla.

#Los datos nulos o vacios dentro de las columna "precio" los cambie por $0, de esa forma los normalize, pero por sobre todo deje las bases para una futura correcion de los datos utilizando
#el promedio de los datos por "producto_id" ya que la funcion "mean" no toma valores vacios, como tambien para generar consultas de forma mas sencilla.

#precios_historicos: Tabla concatenada de todas las tablas de precios, a fin de cumplir con el "MVP", esta tabla ya unificada desde pandas me permitiria en mysql hacer una query rapida
#para consultar el promedio de precio por sucursal.

#tabla_aux: Tabla que desarrolle para eventualmente consultar si seria lo mas apropiado eliminar esos datos,
# donde estan almacenados columnas con precios faltantes y producto_id sin registros, de esa manera dentro de la funcion "faltantes_sin_id"  quito esos registros de la tabla
# "precios historicos que es la que voy a importar a mi base de datos, ya que son datos de por momento que no tienen utilidad"

#Debido a que mi funcion "transformacion" tiene como parametro "*args" puedo ingestar distintas cantidades de tablas de precios sin problema.


#"NORMALIZAR COLUMNA PRODUCTO_ID"
def correccion_producto (tabla):
    tabla["producto_id"] = tabla["producto_id"].astype(str)
    tabla["producto_id"] = tabla["producto_id"].apply(lambda x: x.replace(".0","") if ".0" in x else x)
    tabla["producto_id"] = tabla["producto_id"].apply(lambda x: str(x).zfill(13) if len(str(x)) < 13 and str(x) !="nan" else x )
    tabla["producto_id"] = tabla["producto_id"].apply(lambda x: "sin registro" if x == "" or  x =="nan" else x )

#"NORMALIZAR COLUMNA SUCURSAL_ID"
def correccion_sucursal (tabla):
    tabla["sucursal_id"] = tabla["sucursal_id"].astype(str)
    tabla["sucursal_id"] = tabla["sucursal_id"].apply(lambda x: str(x).replace("00:00:00","") if ("00:00:00") in x else x )
    tabla["sucursal_id"] = tabla["sucursal_id"].apply(lambda x: "sin registro" if x == "" or  x == "nan" else x )


#"REEMPLAZANDO VALORES VACIOS o NULOS POR (0)"
def limpieza_precios(tabla):
    tabla.precio = tabla.precio.apply(lambda x : 0 if str(x) == "nan" or x == "" else x)
    

#"CANTIDAD DE DATOS FALTANTES POR TABLA"
def faltantes (tabla):
    sin_precio = len(tabla.precio[tabla.precio == 0]) # cantidad de faltantes en precio
    sin_sucursal_id = len(tabla.sucursal_id[tabla.sucursal_id == "sin registro"]) # cantidad de faltantes en sucursal_id
    sin_producto_id = len(tabla.producto_id[tabla.producto_id == "sin registro"]) # cantidad de faltantes en producto_id
    print (
           f"precios faltantes: {sin_precio} = {round(sin_precio*100/len(tabla),4)}%\n"
           f"sucursal_id faltantes: {sin_sucursal_id} = {round(sin_sucursal_id*100/len(tabla),4)}%\n" 
           f"producto_id faltantes: {sin_producto_id} = {round(sin_producto_id*100/len(tabla),4)}%")


#"TRANFORMACION DE LOS DATOS EN TABLAS DE PRECIOS Y CREACION DE TABLA HISTORICA"

def transformacion (*args):
     global precios_historico
     for tabla in [*args]:
          correccion_producto(tabla)
          correccion_sucursal(tabla)
          limpieza_precios(tabla)
          faltantes(tabla)
          print("-" * 40)
     
     precios_historico = pd.concat([*args],ignore_index=True)


#"FILAS A DROPEAR, ya que no poseen precio, ni producto_id como para identificar su precio"
def faltantes_sin_id (tabla):
    global Tabla_Aux
    Tabla_Aux = tabla[(tabla.producto_id== "sin registro") & (tabla.precio== 0)]
    tabla.drop(Tabla_Aux.index,inplace=True)

#### APLICANDO TRANSFORMACIONES A TODAS LAS TABLAS + REVELANDO DATOS FALTANTES

In [10]:
transformacion(precios_1,precios_2,precios_3,precios_4,precios_5) 
#se genera tabla "precios_historicos" con la concatenacion de los precios normalizados.
#Puedo agregar mas tablas en caso de que en el futuro mi cliente lo solicite.

precios faltantes: 13 = 0.0028%
sucursal_id faltantes: 15 = 0.0032%
producto_id faltantes: 15 = 0.0032%
----------------------------------------
precios faltantes: 2124 = 0.534%
sucursal_id faltantes: 0 = 0.0%
producto_id faltantes: 0 = 0.0%
----------------------------------------
precios faltantes: 1960 = 0.472%
sucursal_id faltantes: 6 = 0.0014%
producto_id faltantes: 6 = 0.0014%
----------------------------------------
precios faltantes: 1736 = 0.3625%
sucursal_id faltantes: 0 = 0.0%
producto_id faltantes: 13519 = 2.8229%
----------------------------------------
precios faltantes: 1807 = 0.3941%
sucursal_id faltantes: 0 = 0.0%
producto_id faltantes: 0 = 0.0%
----------------------------------------

In [11]:
precios_historico

         precio    producto_id  sucursal_id
0         29.90  0000000001663      2-1-014
1         29.90  0000000002288      2-1-032
2         39.90  0000000002288      2-1-096
3        499.99  0000000205870      9-1-686
4        519.99  0000000205870      9-2-248
...         ...            ...          ...
2222640  139.99  9569753142128  2001-01-25
2222641   34.99  9795403001143  2001-01-25
2222642  312.50  9990385651922  2003-01-05
2222643  312.50  9990385651939  2003-01-05
2222644  198.90  9990385651946  2003-01-05

[2222645 rows x 3 columns]

#### DROPEANDO FILAS EN TABLA AUXILIAR

In [12]:
faltantes_sin_id(precios_historico) #se genera tabla "Tabla_Aux" con las filas con datos sin precio ni producto_id de la tabla "precios_historicos"
Tabla_Aux

         precio   producto_id   sucursal_id
246393      0.0  sin registro  sin registro
246748      0.0  sin registro  sin registro
246882      0.0  sin registro  sin registro
246978      0.0  sin registro  sin registro
247033      0.0  sin registro  sin registro
...         ...           ...           ...
1318508     0.0  sin registro      65-1-328
1318509     0.0  sin registro      65-1-328
1318510     0.0  sin registro      65-1-328
1318511     0.0  sin registro      65-1-328
1318512     0.0  sin registro      65-1-328

[116 rows x 3 columns]

#### COMPLETANDO PRECIOS FALTANTES (presentacion de solucion)

In [222]:
precios_historico[precios_historico.precio == 0] 
#Para una correcta limpieza de los datos, aconsejaria que tomemos aquellos precios que si poseen  "producto_id" y,
#los completemos conociendo el promedio de precio de esa columna dentro de la tabla "precios_historico" ya que estamos
#hablando de 7524 regitros que podriamos completar.

         precio    producto_id sucursal_id
480920      0.0  0643131504438    65-1-317
481287      0.0  0655257738062    65-1-317
481288      0.0  0655257738246    65-1-317
489884      0.0  3014260014445    65-1-317
489917      0.0  3014260019723    65-1-317
...         ...            ...         ...
2217191     0.0  8004200128702    65-1-341
2217233     0.0  8004200128801    65-1-341
2217273     0.0  8004200128900    65-1-341
2217305     0.0  8004200129006    65-1-341
2219879     0.0  8710447226971    65-1-341

[7524 rows x 3 columns]

#### OUTLIERS PRECIOS (presentacion de solucion)

In [260]:
#teniendo encuenta los outliers que encontramos en la columna de precios, como por ejemplo:
precios_historico.precio.max() 
#deberiamos de modoficar los precios, filtrando por el "producto_id", reconociendo el promedio real de estos y la varianza estandar de los datos.

4.39989e+16

### CREACION Y CARGA DE BASE DE DATOS

In [13]:


conexion= "mysql://root:drosblock@127.0.0.1:3306/nicolas"
engine = sqlalchemy.create_engine(conexion)


precios_historico.to_sql (name="ventas",con=conexion, if_exists="replace")
print("se cargaron los precios")
productos.to_sql (name="productos",con=conexion, if_exists="replace")
print("se cargaron los productos")
sucursales.to_sql (name="sucursales",con=conexion, if_exists="replace")
print("se cargaron las sucursales")

se cargaron los precios
se cargaron los productos
se cargaron las sucursales